.phoneIcon {
  margin-top: 1px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px !important;
}

.aTag {
  margin-left: 5px;
}
