.phoneIcon {
  margin-top: 6px;
}

.content {
  text-align: left;
}

.subItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.aTag {
  margin-left: 5px;
}
